* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
}

.box {
    border: 1rem solid hsl(0, 0%, 12%);
    border-radius: 1rem;
    background-color:  hsl(0, 0%, 12%);
    color: white;
    margin: 8rem auto;
    width: 30%;
}
h1 {
    font-weight: 700;
    font-size: 25px;
    padding-top: 1rem;
    margin: 0.2rem auto;
}
.location {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
    font-size: 14px;
    padding-bottom: 1rem;
    margin-top: 0.4rem;
}
.description {
    font-weight: 400;
    font-size: 14px;
}
body {
    background-color: hsl(0, 0%, 8%);
}
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
    }
.centered-button {
   background-color: hsl(0, 0%, 20%);
   color: white;
   border-radius: 0.5rem;
   padding: 1rem 4rem;
   border: none;
   margin: 0.5rem auto;
   width: 80%;
   display: block;
}
.centered-button:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
    pointer-color: black;
}
